datasets==1.18.3
jupyter==1.0.0
keras==2.8.0
nlpaug==1.1.10
numpy==1.22.2
pandas==1.4.1
tensorflow==2.8.0
tensorflow-gpu==2.8.0
tokenizers==0.11.6
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
transformers==4.17.0
